<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AntiPatternParallel</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UnecessaryParallelism">
                <span class="oi oi-plus" aria-hidden="true"></span> Unecessary //
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RaceCondition">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Race Condition
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="OverSaturation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Over Saturation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ThreadSafety">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ThreadSafety
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="LocksAntiPattern">
                <span class="oi oi-list-rich" aria-hidden="true"></span> LocksAntiPattern
            </NavLink>
        </div>
        
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
