<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Parallelism</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TaskWhenAll">
                <span class="oi oi-plus" aria-hidden="true"></span> Task.WhenAll
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ParallelFor">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Parallel For
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ParallelForSpeed">
                <span class="oi oi-arrow-circle-bottom" aria-hidden="true"></span> //For Speed
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ParallelForEach">
                <span class="oi oi-arrow-circle-top" aria-hidden="true"></span> //For Each
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ParallelInvoke">
                <span class="oi oi-arrow-circle-left" aria-hidden="true"></span> // Invoke
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CancelParallelOperations">
                <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Cancel // Op
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MaximumDegreeParallel">
                <span class="oi oi-arrow-circle-bottom" aria-hidden="true"></span> Max Degree //
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
