<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Concurrency</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Await
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TaskT">
                <span class="oi oi-plus" aria-hidden="true"></span> Task T
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TryCatch">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Catch Error
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TaskWhenAll">
                <span class="oi oi-audio-spectrum" aria-hidden="true"></span> When All
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="semaphoreslim">
                <span class="oi oi-audio" aria-hidden="true"></span> Semaphore
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UsingResponseTask">
                <span class="oi oi-dial" aria-hidden="true"></span> Using Response
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iprogress">
                <span class="oi oi-badge" aria-hidden="true"></span> IProgress
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="whenany">
                <span class="oi oi-bluetooth" aria-hidden="true"></span> When Any
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="whenanynew">
                <span class="oi oi-bluetooth" aria-hidden="true"></span> WhenAny New
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Cancellation">
                <span class="oi oi-bolt" aria-hidden="true"></span> Cancel Tasks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cancellingloop">
                <span class="oi oi-bolt" aria-hidden="true"></span> Cancel Loop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="canceltimeout">
                <span class="oi oi-bolt" aria-hidden="true"></span> Cancel TimeOut
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="synchronisationcontext">
                <span class="oi oi-aperture" aria-hidden="true"></span> Sync Context
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="retrypattern">
                <span class="oi oi-basket" aria-hidden="true"></span> Retry Pattern
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="onlyone">
                <span class="oi oi-action-undo" aria-hidden="true"></span> Only One
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TaskCompletionSource">
                <span class="oi oi-action-redo" aria-hidden="true"></span> TaskCompletion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="noncancellable">
                <span class="oi oi-arrow-top" aria-hidden="true"></span> Noncancellable
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="inefficientcode">
                <span class="oi oi-cart" aria-hidden="true"></span> Inefficient
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parallelasync">
                <span class="oi oi-chat" aria-hidden="true"></span> .Net6.0 Foreach Async
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Github">
                <span class="oi oi-crop" aria-hidden="true"></span> Github
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
