@using System.IO
@using System.Drawing
@using System.Diagnostics;

@page "/RaceCondition"

<PageTitle>RaceCondition</PageTitle>

<h1>RaceCondition</h1>

<button class="btn btn-primary" @onclick="HandleValid">Click me</button>

<div class="input-group">
    <textarea class="form-control" aria-label="With textarea">@text</textarea>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="spinning-loading.gif" alt="Image" hidden="@imageHidden">
    </div>
</div>

@code {
    private bool imageHidden = true;
    private string text  = "";
    private HttpClient? httpClient;

    protected override void OnParametersSet(){
        base.OnParametersSet();
        httpClient = new();

    }
    
    private async void HandleValid(){
        imageHidden = false;
        text  = "";
        Stopwatch stopwatch = new();
        stopwatch.Start();

        text += "Begin\r\n";

        int value = 0;
        int valueSyncLock = 0;

        // Antipattern: Race condition
        Parallel.For(0, 1000000, numero => value++);
        text += $"Sum Race Condition: {value}\r\n";

        // Solution: Use a synchronization mechanism
        Parallel.For(0, 1000000, numero => Interlocked.Increment(ref valueSyncLock));

        text += $"Sum with Sync mechanism: {valueSyncLock}\r\n";


        text +="End";
        imageHidden = true;

        await InvokeAsync(() => StateHasChanged());
        
    }
}


<style>
.input-group{
    height:700px;
    margin: .4rem 0;
    }
</style>